{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}

    <h5>{{ messages|length }} alerts
        <small class="float-right">
            <a href="#bottom" title="Go Bottom">&darr;</a>
        </small>
    </h5>
    <div class="list-group">
        {% for message in messages %}
            <a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">*{{ message.Record.type }} #{{ message.Record.alertNumber }} has been issued.
		    </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ message.Record.issueDateTime}}"
                           data-delay="500">
                       {{ message.Record.issueDateTime }}
                    </small>
                </div>

                    <p class="mb-1">  {{ message.Record.Value2 }},     Verification state{{ message.Record.currentState }}</p>

                </if>

            </a>
        {% endfor %}
    </div>
{% endblock %}
