{% extends 'base.html' %}

{% block content %}

    <h5>{{ messages|length }} alerts
        <small class="float-right">
            <a href="#bottom" title="Go Bottom">&darr;</a>
        </small>
    </h5>
    <div class="list-group">
        {% for message in messages %}
            <a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1 text-success"> Alert No. {{ message.Record.alertNumber }}: {{message.Record.type}}
		    </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ message.Record.issueDateTime}}"
                           data-delay="500">
                       {{ message.Record.issueDateTime }}
                    </small>
                </div>

                    <p class="mb-1"> {{ message.Record.Value2 }}</p>

                </if>

            </a>
        {% endfor %}
    </div>
{% endblock %}
